.movieslist {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 110px 0;
    margin: 0 auto;
}

.moviescardlist {
    display: grid;
    width: 100%;
    max-width: 1140px;
    justify-content: center;
    padding: 0 0 60px 0;
    margin: 0 auto;
    gap: 37px 24px;
    grid-auto-rows: 281px;
    grid-template-columns: repeat(auto-fit, minmax(364px, 281px));
}

.moviescardlist__more-button {
    width: 320px;
    height: 36px;
    border: none;
    border-radius: 6px;
    background-color: #F4F4F4;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    outline: none;
    transition: opacity .5s;
}


@media screen and (max-width: 1200px) {
    .moviescardlist {
        gap: 30px;
        grid-auto-rows: 262px;
        grid-template-columns: repeat(auto-fit, minmax(339px, 262px));
    }

}
