.promo {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding: 160px 0 0;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.promo__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  width: 730px;
  padding: 0;
  margin: 0 0 151px;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -.04em;
  line-height: 58px;
  text-align: center;
}

.promo__navigation {
  display: flex;
  padding: 0;
  margin: 0 0 30px;
  gap: 10px;
  list-style: none;
}

.promo__button {
  width: 96px;
  height: 36px;
  border-radius: 10px;
}

@media screen and (max-width: 950px) {
  .promo {
    padding: 350px 0 0;
  }

  .promo__title {
    width: 680px;
    margin: 0 0 314px;
    font-size: 40px;
    line-height: 52px;
  }
}

@media screen and (max-width: 760px) {
  .promo {
    padding: 220px 0 0;
  }

  .promo__title {
    width: 292px;
    margin: 0 0 217px;
    font-size: 29px;
    line-height: 37px;
  }
}
